[Unit]
After=network-online.target
Description=ROS2 Camera Service
WorkingDirector=/home/eli
User=eli
Group=eli

[Service]
Environment="ROS_VERSION=2"
Environment="ROS_PYTHON_VERSION=3"
Environment="PYTHONPATH=/opt/ros/humble/lib/python3.10/site-packages:/opt/ros/humble/local/lib/python3.10/dist-packages"
Environment="LD_LIBRARY_PATH=/opt/ros/humble/opt/rviz_ogre_vendor/lib:/opt/ros/humble/lib/aarch64-linux-gnu:/opt/ros/humble/lib"
Environment="AMENT_PREFIX_PATH=/opt/ros/humble"
Environment="HOME=/eli/pi"
ExecStart=/bin/bash -c "source /opt/ros/humble/setup.bash; ros2 run v4l2_camera v4l2_camera_node  --ros-args -p image_size:='[640,480]' -p camera_frame_id:=camera_link_optical"
RemainAfterExit=yes
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
